*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #013b79 0%, #0055d6);
}

a,a:visited,a:active{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

.wrapper{
    width: 75%;
    max-width: 1000px;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
}

.contact{
    padding: 30px 60px;
    color: aliceblue;
}

h1{
    margin-bottom: 60px;
}

.contact-item{
    display: flex;
    align-items: center;
    font-size: 18px;
}

/*tous les elems sauf le dernier */
.contact-item .a{
    margin-bottom: 30px;
}

ion-icon{
    margin-right: 15px;
}

#map { 
    height: 400px;
    flex: 1;
}